:root{
    --color-button-primary: #07274E;
    --color-button-primary-dark: #EB1960;
    --color-button-secondary: #d9534f;
    --color-button-secondary-dark: #be3030;
    --color-text-primary: #7a7a7a;
    --color-text-secondary: #6ec1e4;
    --color-text-title: #3e4349;
    --color-background: #f6f6f6;
    --color-primary: #07274E;
    --color-header-background: #cde3ff;
    --color-border-primary: #cacaca;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}

html,
body,
#container{
    max-width: 100vw;
    max-height: 100vh;
    background: var(--color-background);
}

#container{
    font: 500 1.6rem Roboto;
}