
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26rem;
    background: var(--color-header-background);
}

.button-container a{
    font: 600 2.2rem PT Sans Narrow;
    color: var(--color-button-primary);
    cursor: pointer;
    margin: 0 .4rem;
    padding: none;

    text-decoration: none;

    background: none;
    transition: 0.2s;
}

.button-container a:hover{
    color: var(--color-button-primary-dark);
}

 .thiago-logo{
    height: 15rem;
}

#main{
    margin: auto 18rem;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img{
    margin-top: 3rem;
    height: 75rem;
    border-radius: 3rem;
}

.banner legend{
    font: 800 2.4rem 'Baloo Chettan 2';
    color: var(--color-text-secondary);

    display: flex;
    justify-content: center;

    margin: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-border-primary);
}

.galery{
    border-bottom: 2px solid var(--color-border-primary);
    padding-bottom: 3rem;
    
    font: 700 1.8rem PT Sans Narrow;
    color: var(--color-primary);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.6rem;
    
}

.galery-ind{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 3.6rem 1rem;
}

.galery-ind img{
    height: 17rem;
    width: 25rem;
    border-radius: 10rem;
}

.galery-ind legend{
    margin-top: 0.8rem;
}

.hipnoterapia{
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-bottom: 2px solid var(--color-border-primary);
    font: 700 1.8rem PT Sans Narrow;
    color: var(--color-primary);
}

.hipnoterapia .text p{
    margin-left: 4rem;
    font: 300 1.8rem 'Roboto';
    color: var(--color-text-primary);
    text-align: justify;
}


.hipnoterapia .imagem{
    display: block;
}


.hipnoterapia img{
    height: 36rem;
    border-radius: 1.8rem; 
}

.intro{
    display: grid;
    text-align: center;
    padding: 1.5rem 0;
    border-bottom: 2px solid var(--color-border-primary);

    font: 700 1.8rem PT Sans Narrow;
    color: var(--color-primary);
}

.intro .passos{
    display: flex;
    justify-content: center;
}

.intro .passos .content{
    margin: 2rem;
}

.intro .passos img{
    width: 6.4rem;
}

.intro .passos p{
    text-align: justify;
    font: 300 1.8rem 'Roboto';
    color: var(--color-text-primary);
}

.intro .passos h2{
    font-size: 3rem;
}

.exp p{
    text-align: justify;
    font: 300 1.8rem 'Roboto';
    color: var(--color-text-primary);
}

.exp{
    font: 700 1.8rem PT Sans Narrow;
    color: var(--color-primary);

    padding: 1.6rem 0;
    border-bottom: 2px solid var(--color-border-primary);
}

.exp h1{
    text-align: center;
}

.exp .check .check-ind{
    display: flex;
    padding: 0.4rem;
}

.exp .check .check-ind img{
    height: 2rem;
    padding-right: 1rem;
}

.biografia {
    font: 700 1.8rem PT Sans Narrow;
    color: var(--color-primary);

    padding: 1.6rem 0;
}

.biografia h1{
    text-align: center;
}

.biografia .bio{
    display: flex;
    padding: 1rem 10rem;
    align-items: center;
    justify-content: center;

}

.biografia p{
    text-align: justify;
    font: 300 1.8rem 'Roboto';
    color: var(--color-text-primary);
    width: auto;

    margin-left: 8rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26rem 1rem;
    background: var(--color-header-background);
}

footer .copy legend{
    font: 300 1.2rem 'Roboto';
    color: var(--color-text-primary);
    text-align: center;
}

footer p{
    font: 300 2rem 'Roboto';
    color: var(--color-text-primary);
    margin-left: 10rem;
    text-align: center;
}